<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find std_detector)/config/config_kitti.yaml" />
  <node 
		pkg="std_detector" 
		type="place_recognition_kitti" 
		name="place_recognition_kitti" 
		output="screen" 
	/>
  <param name="lidar_path" type="string" value = "/mnt/f/datasets/KITTI raw data/training/05/2011_09_30_drive_0018_sync/2011_09_30/2011_09_30_drive_0018_sync/velodyne_points/data/"/>
  <param name="pose_path" type="string" value = "/mnt/f/datasets/KITTI raw data/training/STDesc_dataset/KITTI_dataset/KITTI_poses/kitti05.txt"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>